* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 16px;
    background-color: #333333;
}

body::-webkit-scrollbar-track {
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888888;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: url(/assets/background.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.profile-card {
    width: 400px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    background: #2c3a47;
    padding: 60px 40px;
}

.picture {
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

.picture img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    color: #19ABFF;
}

.sm {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.sm a {
    color: #ffffff;
    font-size: 22px;
    margin: 0 6px;
    width: 30px;
    transition: .2s linear;
}

.sm a:hover {
    color: #ffffffa5;
}

.btn {
    display: inline-block;
    padding: 12px 40px;
    color: white;
    font-size: 16px;
    border: 2px solid #19ABFF;
    margin-top: 2px;
    border-radius: 25px;
    transition: .3s linear;
}

.btn:hover {
    background-color: #0091E633;
}
