* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    height: 100vh;
    background: url(/assets/background.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    width: 400px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    background: #2c3a47;
    padding: 60px 40px;
}

.picture {
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

.picture img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    color: #19ABFF;
}

.sm {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.sm a {
    color: #ffffff;
    font-size: 22px;
    margin: 0 6px;
    width: 30px;
    transition: .2s linear;
}

.sm a:hover {
    color: #ffffffa5;
}

.btn {
    display: inline-block;
    padding: 12px 40px;
    color: white;
    font-size: 16px;
    border: 2px solid #19ABFF;
    margin-top: 2px;
    border-radius: 25px;
    transition: .3s linear;
}

.btn:hover {
    background-color: #0091E633;
}



.share-btn {
    background: linear-gradient(30deg, #3498db, #5363d8);
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 40px;
    color: #ffffff;
    position: fixed;
    bottom: 25px;
    left: 25px;
    transition: .3s;
    z-index: 97;
}

.share-sm {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
}

.share-sm a {
    color: #ffffff;
}

.share-btn:hover {
    padding: 16px 10px;
    border-radius: 40px;
}

.text, .icon {
    display: inline-block;
    transition: .3s;
    transition-delay: 60ms;
}

.icon {
    margin-right: 2px;
}

.share-sm a:nth-child(2) {
    transition-delay: 60ms;
}

.share-btn:hover .text,
.share-btn:hover .icon,
.share-btn:hover .share-sm a {
    transform: translateY(-40px);
}

.share-sm a:hover {
    opacity: .7;
}
