* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    background: url(/assets/background.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.profile-card {
    width: 340px;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
}

.card-header {
    background: #202020;
    padding: 50px 40px;
}

.picture {
    border-radius: 100%;
    display: inline-block;
    margin: auto;
}

.picture img {
    display: block;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    transition: .3s linear;
}

.picture img:hover {
    transform: scale(1.075);
}

.name {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    margin: 4px 0;
}

.sm {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.sm a {
    color: #ffffff;
    font-size: 22px;
    margin: 0 4px;
    width: 40px;
    transition: .7s;
}

.sm img {
    border-radius: 100%;
}

.sm a:hover {
    transform: scale(1.1);
}

.btn {
    display: inline-block;
    padding: 12px 40px;
    color: #ffffff;
    font-size: 16px;
    border: 2px solid #888888;
    border-radius: 2rem;
    transition: .3s linear;
    background-color: transparent;
}

.btn:hover {
    background-color: #33333399;
}
