/* Floating Arrow */
.animate-float {
    animation: float 2s linear infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* Loader */
#loader {
    transition: linear 1s;
}

.loader-hidden {
    opacity: 0;
}

/* Scroll Bar */
body::-webkit-scrollbar {
    width: 16px;
    background-color: #333333;
}

body::-webkit-scrollbar-track {
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888888;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

html {
    scroll-behavior: smooth;
}

/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
